<!--<p id="notice"><%= notice %></p>-->

<p>
  <strong>Nombre:</strong>
  <%= @user.Nombre %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @user.Correo %>
</p>

<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to 'Atrás', users_path %>